.classpath
.project
.settings
target
*~
.idea/
*.class
*.iml
*.ipr
*.iws
*.log
.DS_Store
atlassian-ide-plugin.xml

data/xml/dynamique/clientData/
data/xml/dynamique/detteUnitaire/
data/xml/dynamique/formulaires/
data/xml/dynamique/doc
data/xml/dynamique/images
data/xml/dynamique/integrationRapport/
data/xml/dynamique/mail/
data/xml/dynamique/messages/
data/xml/dynamique/package
data/xml/dynamique/pdf
data/xml/dynamique/recolte/
data/xml/dynamique/scan
data/xml/upload/
data/xml/uploadtemp/

testCDC.xls
*traduction*.xls

web/.surefire*

# Fichiers associés à la release et à la montée de version
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties

.gradle
lib
